
<% def category(post_category) %>
    <% p = post_category%>
    <%  if p.include?'Story (Non-Fiction)'%>

        <%  return  'deep-orange'%>
    <%  elsif p.include?'Story (Fiction)'%>
        <%    return 'light-green'%>
    <%   elsif p.include?'Others'%>
        <%     return  'cyan'%>
    <%  elsif p.include?'Non-GP Essay'%>
        <%     return  'purple'%>
    <%  elsif p.include?'GP Essay'%>
        <%     return   'deep-purple'%>
    <%  elsif p.include?'Poetry'%>
        <%  return  'pink'%>
    
    
    
        
    
        
        
   

    <%  end%>
    <%end%>



<a class='btn btn-<%= category(post_category)%> btn-tags'><%= post_category%></a>

