



<% category = {'GP Essay'=>"purple",'Non-GP Essay' =>"deep-purple", 'Poetry' => "pink", 'Story: Fiction' => "light-green", 'Story: Non-Fiction'=> "yellow", 'Others'=>"cyan"}%>
<a class='btn btn-<%= category[post_category]%>'><%= post_category%></a>

