<h1><%= @title %></h1>
<hr>
<p>Opus is a borne out of the nationwide Circuit Breaker (CB) measures in response to the Covid-19 pandemic. Unfortunately, this seemingly innocuous period has revealed to many of us the sad reality of our productivity, and also our self-discipline in the grand scheme of things.</p>
<p>What was initially a dream come true for us soon morphed into a nightmare, as we found ourselves struggling to maintain productivity after having abruptly seized from us the familiar school routine that many of us has come to appreciate in this period.</p>

<p>Btw, while I was googling 'low productivity memes' for this write-up (RIP to my creativity), I came across this 'relatable' excerpt from Dilbert comics:</p>
<br>
<div class='align-center'>
<img src='https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/e35/c0.0.319.319a/91665696_840609193114297_589280792273588843_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=101&_nc_ohc=fzRWGKWeOn8AX_YQim7&oh=f382a54eb9028b05c26b9ce3f6682054&oe=5EB0BD3D'/> 
</div>
</br>
<p>Damn, if only I can relate.</p>
<p>Not to say that everyone is in the same boat. The point I'm trying to bring across is that in general, people have found themselves suffering from low prudctivity ever since CB was enacted.</p>
<p>In the long run, grades would deteriorate. This crucial time period, while seemingly insignificant in length, could very well affect our future.</p>
<p>Productivity can be achieved in several ways. For me, I endeavour to write an essay once every two days.</p>
<p>There are many reasons why it is good idea to get into the habit of writing. When we write, we reiterate the content in our mind in words. Therefore, writing helps us absorb new ideas acquired in the process of researching while at the same time solidify existing knowledge. Through rigorous writing, we also train ourselves to write succinctly, eloquently and effectively. All these are, needless to say, crucial skills that all of us could certainly do with in our lives, especially when it comes to GP.</p>
<p>And so I created Opus, a place where like-minded individuals can get into the habit of writing during this lull period. With Opus, users can read and comment on other users' works, write and broadcast their own works, bookmark works that caught their attention or to their likings, and many more features such as setting a goal for the output rate one would like to achieve.</p>
<p>Ultimately, Opus is a community for users to elimimate low productivity from their lives, and encourage and support one another in the journey to developing good writing skills. For all you know, it could be a life-changing experience in which you emerge a better writer, a better communicator, and a better person in general.</p>
<br>
<h1>Contact</h1>
<hr>
<p>For any inquiries or issues with the web application, please contact us through the following means</p>
<address>
 <h5><i class="far fa-envelope fa-lg"></i>  <a href="mailto:opus2.0web@gmail.com">opus2.0web@gmail.com</a></h5>
</address>
<br>