<h1>Edit Post</h1>

<%= form_for :post, url: post_path(@post), method: :put  do |f| %>

    <%= render partial: "/posts/neweditform", locals: {post: @post, f: f} %>

<% end %>

<script>
    $(document).ready(function() {
      var tldr_text = $("#tldr_text");
      var counter1     = $("#counter1");
      var max_length  = 140;
      var span1 = document.getElementById("counter1");

      tldr_text.keyup(function() {
          counter1.text(max_length - $(this).val().length);
          if($(this).val().length > max_length){
            counter1.text("Too many characters!");
            span1.classList.add("red-text");
          };
      });

      
    });

</script>