/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbutton{
    padding-right: 20px;
    padding-left: 20px;
}


.nav-text{
    color:#fff;
}
.nav-text:hover{
    color:rgba(235, 228, 228, 0.808);
}

.post-preview-container{
    display: inline;
}

.display-inline{
    display: inline;
}
.floatleft{
    float:left;
}
.floatright{
    float:right;
}

.black-link{
    color:#000;
}
.black-link:hover{
    color:#696969;
}

.btn-lg{
    font-size: 24px;
}
.send-button{
    background: #54C7C3;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
    .g-button{
    color: #fff !important;
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    .my-input{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
    }
    .header-title{
    margin: 5rem 0;
    }
    h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color:#4c5357;
    }
    h2{
    color: #5e8396;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
    }
    .login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    }
    .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
    @media screen and (max-width:480px){
    h1{
    font-size: 26px;
    }
    h2{
    font-size: 20px;
    }
    }

#send-email-confirmation{
    font-weight: 600;
    padding: 8px 25px;
}

.center-div{
    text-align: center;
}

.red-text{
    color:red;
}


.white-text{
    color: white;
}

.banner{
    display:none;
}

.bottom{
    display: table;
  margin: 0 auto;
}

.form-body{
    padding-top:30px;
}

.fa-times-circle{
    color:red;
}

#newUserCreatePost{
    margin-top:50px;
    margin-bottom:50px;
    font-size:1.5em;
}

.starred{
    color:yellow !important;
    text-shadow: 0 0 3px #000;
}


.unstarred{
    color: #fff !important;
    text-shadow: 0 0 3px #000;
}

.btn{
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    margin-right:0.25em !important;
    margin-left:0em !important;
    margin-bottom:0.5em !important;
}