<p class="notice banner "><mark><%= notice %></mark></p>
<p class="alert banner"><mark><%= alert %></mark></p>


<script>
setTimeout(function() {
  $('.banner').fadeIn();
  
  setTimeout(function() {
    $('.banner').fadeOut().remove();
  }, 2000);
}, 100);
</script>