<p class="notice banner "><%= notice %></p>
<p class="alert banner"><%= alert %></p>


<script>
setTimeout(function() {
  $('.banner').fadeIn();
  
  setTimeout(function() {
    $('.banner').fadeOut().remove();
  }, 3000);
}, 100);
</script>